LowerCase : [{{#toLowerCase value}}{{/toLowerCase}}]
UpperCase : [{{#toUpperCase value}}{{/toUpperCase}}]
has : [{{#has item 'red'}}red{{/has}}]
has : [{{#has item 'green'}}green{{/has}}]
has : [colour:{{#has array 'blue'}}blue{{/has}}]
has : [{{#has array 'yellow'}}yellow{{/has}}]
missing : [{{#missing item 'green'}}green{{/missing}}]
missing : [{{#missing item 'red'}}red{{/missing}}]
missing : [colour:{{#missing array 'yellow'}}yellow{{/missing}}]
missing : [{{#missing array 'blue'}}blue{{/missing}}]
firstAvailable : [{{#firstAvailable noValue value}}{{/firstAvailable}}]
firstAvailableDefault : [{{#firstAvailable noValue "valueString"}}{{/firstAvailable}}]
firstAvailableFallback : [{{#firstAvailable noValue}}{{/firstAvailable}}]
string : [{{#string 'includes' value 'bob'}}includes fail{{/string}}]
string : [{{#string '!includes' value 'bob'}}inverted pass{{/string}}]
string : [{{#string 'includes' value 'camel'}}includes pass{{/string}}]
string : [{{#string 'toLowerCase' value}}{{/string}}]
