<server description="Cloudant Sample Liberty server">

    <featureManager>
        <feature>servlet-3.1</feature>
        <feature>jaxrs-2.0</feature>
        <feature>jsonp-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>cdi-1.2</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
        id="defaultHttpEndpoint" />

    <jndiEntry jndiName="cloudant/url" value="${env.CLOUDANT_URL}"/>
    <jndiEntry jndiName="cloudant/username" value="${env.CLOUDANT_USERNAME}"/>
    <jndiEntry jndiName="cloudant/password" value="${env.CLOUDANT_PASSWORD}"/>

</server>
